.DS_Store
Thumbs.db

*.log

/target/
/build/
*.jar
*.war
.classpath
.project
.settings/

/node_modules/
/dist/
/coverage/
npm-debug.log*
.angular/cache/

.vscode/

application-local.properties
environment.local.ts